{% extends 'task/base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <form class="border rounded p-3" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
    <p class="small text-muted">
        Already have an account? <a class="ms-1" href="{% url 'login' %}">Login</a>
    </p>

{% endblock content %}